In [1]:
import numpy as np
import pandas as pd

In [161]:
df=pd.read_csv("c:\\Users\\Adarsh\\python\\WEEK5\\final.csv")

In [171]:
data=list(df['eng'])

In [172]:
df

         name   tel   eng   mat   sci
0      ashish  45.0  65.0  76.0  78.0
1         raj  65.0  45.0  65.0  76.0
2      rohini  65.0  67.0   6.0  55.0
3      rakesh  65.0  66.0  77.0  88.0
4      rajesh  88.0  77.0  87.0  89.0
5      manish  65.0  45.0  45.0  45.0
6       manoj  65.0  66.0  88.0  56.0
7       suraj  66.0  61.0  76.0  87.0
8       sumit  66.0  77.0  64.0  89.0
9      ratish  66.0  55.0  66.0  74.0
10    tanisha  77.0  66.0  56.0  87.0
11  Anonymous  98.0  89.0  98.0  88.0
12  Anonymous  22.0  23.0  34.0  32.0

In [173]:
mean[1,2,3,4,5]

TypeError: 'function' object is not subscriptable

## 1)mean

In [10]:
data

[65.0, 45.0, 67.0, 66.0, 77.0, 45.0, 66.0, 61.0, 77.0, 55.0, 66.0, 89.0, 23.0]

In [174]:
def mean(data):
    total=0
    for i in data:
        total=total+i
    return float(total/len(data))

In [177]:
median([1,2,3,4,5])

Median: 3
Odd

In [15]:
print("the avg marks got by students in english:",total/len(data))

the avg marks got by students in english: 61.69230769230769

In [24]:
mean(list(df['eng']))

61.69230769230769

In [25]:
mean(list(df['tel']))

65.61538461538461

In [26]:
mean(list(df['mat']))

64.46153846153847

In [27]:
mean(list(df['sci']))

72.61538461538461

### 3)Median

In [85]:
dat1=[1,2,3,4,5]

In [88]:
dat2=[1,2,3,4]

In [89]:
data1=list(np.sort(dat1))

In [90]:
data1[len(data1)//2]

3

In [91]:
data2=list(np.sort(dat2))

In [97]:
data2[len(data2)//2-1],data2[(len(data2)//2)]

(2, 3)

In [138]:
data3=[2,1,1,4,5]

In [163]:
def median(data3):    
    data3=list(np.sort(data3))
    if (len(data3)%2)==0:
        print("Median:",(data3[len(data3)//2-1]+data3[(len(data3)//2)])//2)
        print("Even")
    else:
        print("Median:",data3[(len(data3)//2)])
        print("Odd")

In [110]:
median(data2)

Median: 2
Even

In [112]:
median([1,5,6,3,4])

Median: 4
Odd

## 3)Mode

In [128]:
lst=[1,2,3,4,5,5,6,6,6]

In [126]:
frq=[]
for i in set(lst):
   frq.append([i,lst.count(i)])
df=pd.DataFrame(frq,columns=["num","frq"])
print(df.sort_values(by='frq',ascending=False).head(1).values[0][0])

6

In [164]:
def mode(lst):
    frq=[]
    for i in set(lst):
        frq.append([i,lst.count(i)])
    df=pd.DataFrame(frq,columns=["num","frq"])
    print(df.sort_values(by='frq',ascending=False).head(1).values[0][0])

In [141]:
mode([3,3,4,5,6,7,7,7,9])

7

### 4) mode using dictionaries

In [142]:
lst1=[1,2,3,4,4,4,5,5,5,6,6,6,6]

In [165]:
def mode1(lst1):    
    dct={}
    for i in lst1:
        if (i not in dct.keys()):
            dct[i]=1
        else:
            dct[i]=dct[i]+1
    num=dct.keys()
    freq=dct.values()
    df=pd.DataFrame([list(num),list(freq)])
    print(df.T.sort_values(by=1,ascending=False).head(1).values[0][0])

In [160]:
mode1([1,2,2,2,2,3,3,4,4,5])

2

In [166]:
print("mean of tel:",mean(list(df['tel'])))
print("mean of eng:",mean(list(df['eng'])))
print("mean of mat:",mean(list(df['mat'])))
print("mean of sci:",mean(list(df['sci'])))

mean of tel: 65.61538461538461
mean of eng: 61.69230769230769
mean of mat: 64.46153846153847
mean of sci: 72.61538461538461

In [167]:
print("median of tel:",median(list(df['tel'])))
print("median of eng:",median(list(df['eng'])))
print("median of mat:",median(list(df['mat'])))
print("median of sci:",median(list(df['sci'])))

Median: 65.0
Odd
median of tel: None
Median: 66.0
Odd
median of eng: None
Median: 66.0
Odd
median of mat: None
Median: 78.0
Odd
median of sci: None

In [169]:
print("mode of tel:",mode(list(df['tel'])))
print("mode of eng:",mode(list(df['eng'])))
print("mode of mat:",mode(list(df['mat'])))
print("mode of sci:",mode(list(df['sci'])))

65.0
mode of tel: None
66.0
mode of eng: None
76.0
mode of mat: None
87.0
mode of sci: None

In [170]:
print("mode of tel:",mode1(list(df['tel'])))
print("mode of eng:",mode1(list(df['eng'])))
print("mode of mat:",mode1(list(df['mat'])))
print("mode of sci:",mode1(list(df['sci'])))

65.0
mode of tel: None
66.0
mode of eng: None
76.0
mode of mat: None
88.0
mode of sci: None